.post-meta .post-time time {
  border-bottom:     none;
}

.post-meta .post-category a{
  border-bottom:     none;
  text-dectoration:  none;
}

.links-of-blogroll-title {
	margin-top:       1em;
}

.footer .author a {
	border-bottom:     none;
  color:             $grey-dark; 
}

.footer .author a:hover {
  color:             $footer-link-hover-color;
}


.tag-cloud-tags a {
	border-bottom:     none;
}

/*#footnotelist {
  background-color:  ighten($gainsboro, 65%);
  background-color:  $note-primary-bg;
  border:            initial;
	padding:           15px;
 	border-left:       3px solid $gainsboro;
  border-radius:     unit(hexo-config('note.border_radius'), px) if hexo-config('note.border_radius') is a 'unit';
  border-left-color: $note-primary-border;
  i {
    color :            $note-primary-text;
    top:               13px;
    left:              15px;
    padding-right:     15px;
    font-size:         larger;
  }
}
*/
p.description {
    font-style:      italic;
    font-size:       0.9em;
    margin-top:      10px;
    color:           $index-description-color;
    text-align:      center;
}

.out-img-topic {
  display:           block;
  margin-bottom:     24px;
  overflow:          hidden;
}

img.img-topic {
  display:           block ;
  margin-left:       .7em;
  margin-right:      .7em;
  padding:           0;
  float:             right;
  clear:             right;
  width:             100%
}

@import highlight;

code {
  //border: none;
  color: $text-color;
}

.feed-link {
    margin-top: 15px;
    margin-left: 7px;
    a {
      border-radius: 15px !important;
    }
}

.post-toc a {
  border-bottom: none;
  padding:4px 0 5px 10px;
  border-left: 2px solid rgba(0,0,0,0);
}

li.active > a{
  border-left: 2px solid $toc-link-active-border-color;
}

li.active > ol > li > a{
  padding-left: 25px;
}

li.active > ol > li > ol > li > a {
  padding-left: 40px;
}
  

li.active > ol > li > ol > li > ol > li > a {
  padding-left: 55px;
}


.nav 
.nav-child {
  padding-left: 0 !important;
}

.gutter div.line {
  padding-right: 10px !important;
  box-sizing: border-box;
  border-right: 3px solid #6ce26c
}

.figcode {
  padding:12px 16px;
}

.site-brand-wrapper{
  background-color: $black-dim;
}
.container .header-inner {
  width: 95%;
  background-color: $black-dim;
  border-radius: 15px;
}

.custom-logo-site-title {
  padding-top: 50px;
  padding-bottom: 20px; 
  +mobile() {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.site-subtitle {
  padding-bottom: 12px;
  font-size: 20px;
}

.links-of-author a{
  border:none;
}

.back-to-top
.sidebar-toggle {
  border-radius: 3px;
}

nav.site-nav ul.menu > li > a:hover{
  color: $grey;
}
  
.menu a {
  color: #fff;
  padding-bottom: 8px;
}

li.menu > a:after {
  border-radius:100%;
  border:1px solid #fff;
}


/*.menu-item {
  &:after {
    content: ".";
    display: inline;
    border-radius: 50%;
    width:4px;
    heigth: 4px;
    color: $black-dim;
    
  }
}

.menu-item-active {
  &:after {
    color: #fff;
  }
}*/

.page-home .menu-item-home a {
  border-bottom-color: #fff;
}


.links-of-blogroll-title-name {
  color: $orange;
}

.sidebar-nav li {
  border: 1px solid $sidebar-nav-color;
  border-radius: 15px;
  padding: 0 9px;
  &:hover {
    border-color: $orange;
    color :$orange;
  }
}

.sidebar-nav .sidebar-nav-active {
  border-color: $sidebar-highlight;
}

.sidebar{
  background-color: rgba(0, 0, 0, 0);
}

.links-of-blogroll-list  {
  color: $text-color !important;
}
.site-state-item > a:hover{
  color: $orange !important;
}

.page-number {
  border-radius: 100%;
  width: 10px;
  &:hover {
    background-color: #eee;
    color: $black-deep;
  }
}

.gitment-editor-preview-field {
  background-color: #fff;
}
.gitment-comment-header {
  background-color: $body-bg-color !important;
}

.gitment-editor-submit 
.gitment-comments-init-btn {
  color: #555 !important;
  background-color: #fafafa !important;
  border-radius: 3px;
  border: 1px solid #555 !important;
  &:hover {
    color: $black-deep !important;
    background-color: #eee !important;
    border: 1px solid #eee !important;
  }
}

.gitment-editor-avatar
.gitment-header-issue-link
.gitment-editor-login-link
.gitment-editor-logout-link
.gitment-comment-name {
  border: none;
}


.fa.fa-history.fa-{
  padding: 0
}

a.link_to_about .site-author-name:hover {
  color: $orange !important;
}
 
div.footnotes > div.footnotelist > ol > li {
  list-style: none !important;
}

.sidebar-toggle-line{
  background-color: $orange;
}

.back-to-top {
  color: $orange;
}

.pace-activity {
  border-top-color: $orange !important;
  border-left-color: $orange !important;
}
.pace-progress-inner
.pace-progress {
  background-color: $orange !important;
}

.header-inner {
  //margin-top: 1em;
}

.site-brand-wrapper {
  border-radius: 15px;
}

.page-archive {
  if mobile() {
    .post-type-normal {
      h1 {
        font-size: 2em !important;
      }
    }
  }
}

#head-padding-top{
  height :1em;
}