@import highlight;

body {
  background: -webkit-radial-gradient(circle,white,$black-dim);
  background-repeat: no-repeat;
  background-attachment:fixed;
}
.main { 
  margin-top: -4em;
}

// Index
// --------------------------------------------------
p.description {
  font-size:       0.9em;
  margin-top:      10px;
  color:           $index-description-color;
  text-align:      center;
}
img.img-topic {
  display:           block ;
  margin-left:       .7em;
  margin-right:      .7em;
  padding:           0;
  float:             right;
  clear:             right;
  width:             100%;
}
.out-img-topic {
  display:           block;
  margin-bottom:     24px;
  overflow:          hidden;
}

// header
// --------------------------------------------------
#head-padding-top{
  height :1em;
  //background-color: rgba(0, 0, 0, 0.75);
  +mobile(){
    display: none;
  }
  +mobile-small(){
    display: none;
  }
}
.header {
  background-color: #fff;
  width: $content-desktop ;
  margin: 0 auto;
  padding: 3em 4em 4em;
  +desktop-large() {
    & { width: $content-desktop-large; }
  }
  +desktop-largest() {
    & { width: $content-desktop-largest; }
  }
  +mobile() { 
    width: auto; 
    padding: 1em 1em 4em;
  }
}
.container .header-inner {
  width: 100%;
  background-color: $black-dim;
  border-radius: 15px;
  
}

// logo
// --------------------------------------------------
.custom-logo-site-title {
  padding-top: 50px;
  padding-bottom: 20px; 
  +mobile() {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.site-title{
  +mobile() {
    font-size: 50px;
  }
}
.site-brand-wrapper {
  border-radius: 15px;
  background-color: $black-dim;
}

// nav
// --------------------------------------------------
nav.site-nav ul.menu > li > a:hover{ color: $grey; }
.page-home .menu-item-home a { border-bottom-color: #fff; }
.menu a {
  color: #fff;
  padding-bottom: 8px;
}

// pace
// --------------------------------------------------
.pace-activity {
  border-top-color: $orange !important;
  border-left-color: $orange !important;
}

.pace-progress-inner
.pace-progress {
  background-color: $orange !important;
}

// toc
// --------------------------------------------------
.post-toc a {
  border-bottom: none;
  padding:4px 0 5px 10px;
  border-left: 2px solid rgba(0,0,0,0);
}
li.active > a{ border-left: 2px solid $toc-link-active-border-color; }
li.active > ol > li > a{ padding-left: 25px; }
li.active > ol > li > ol > li > a { padding-left: 40px; }
li.active > ol > li > ol > li > ol > li > a { padding-left: 55px; }

// sidebar
// --------------------------------------------------
.fa.fa-history.fa-{ padding: 0 }
.sidebar-nav .sidebar-nav-active { border-color: $sidebar-highlight; }
.sidebar{ background-color: rgba(0, 0, 0, 0); }
.sidebar-toggle-line{ background-color: $black-dim; }
.feed-link {
    margin-top: 15px;
    margin-left: 7px;
    a {
      border-radius: 15px !important;
    }
}
.back-to-top { color: $black-dim; }
.links-of-blogroll-list { color: $text-color !important; }
.links-of-blogroll-title { margin-top: 1em; }
.links-of-author a{ border:none; }
.links-of-blogroll-title-name
.site-state-item > a:hover
a.link_to_about .site-author-name:hover
{
  color: $orange !important;
}
.back-to-top
.sidebar-toggle {
  border-radius: 3px; 
}
.sidebar-nav li {
  border: 1px solid $sidebar-nav-color;
  border-radius: 15px;
  padding: 0 9px;
  &:hover {
    border-color: $orange;
    color :$orange;
  }
}

// post
// --------------------------------------------------
div.footnotes > div.footnotelist > ol > li { list-style: none !important; }
.post-meta .post-category a
.post-meta .post-time time {
  border-bottom:     none;
}
.main-inner {
  padding: 0 4em 2em;
  background-color: #fff;
}
.page-number {
  border-radius: 100%;
  width: 10px;
  &:hover {
    background-color: #eee;
    color: $black-deep;
  }
}

// gitment
// --------------------------------------------------
.gitment-editor-preview-field { background-color: #fff; }
.gitment-comment-header { background-color: $body-bg-color !important; }
.gitment-editor-submit 
.gitment-comments-init-btn {
  color: #555 !important;
  background-color: #fafafa !important;
  border-radius: 3px;
  border: 1px solid #555 !important;
  &:hover {
    color: $black-deep !important;
    background-color: #eee !important;
    border: 1px solid #eee !important;
  }
}
.gitment-editor-avatar
.gitment-header-issue-link
.gitment-editor-login-link
.gitment-editor-logout-link
.gitment-comment-name {
  border: none;
}

// footer
// --------------------------------------------------
.footer .author a {
	border-bottom:     none;
  color:             $whitesmoke; 
  &:hover{
    color:           $footer-link-hover-color;
  }
}

// pages
// --------------------------------------------------
.tag-cloud-tags a {
	border-bottom: none;
}
.page-archive {
  if mobile() {
    .post-type-normal > h1 {
      font-size: 2em !important;
    }
  }
  
}

// trash
// --------------------------------------------------
/*.nav 
.nav-child {
  padding-left: 0 !important;
}*/