.tag-cloud {
  text-align: center;

  a {
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
    padding: 0 3px;
    border: 1px solid $trans !important;
    &:hover {
      //background: #555;
      //color: $green !important;
      border-color: #555 !important;
    }
  }
}
.tag-cloud-title {display:none;}