.feed-link {
  margin-top: 20px;
  //padding-top: 20px;
  //border-top: 1px dotted $grey-light;
  a {
    //display: inline-block;
    padding: 1px 15px !important;
    color: $$whitesmoke ;
    border: 1px solid $whitesmoke !important;
    border-radius: 4px;

    i {
      color: $whitesmoke;
      font-size: 14px;
    }


    &:hover {
      color: $orange;
      //background: #eee;
      border: 1px solid $orange !important;
      i { color: $orange; }
      
    }
  }
  padding-bottom: 1px !important;
  &:hover {
    padding-bottom: 0 !important;
    padding-top: 1px !important;
  }
}
