.feed-link {
  margin-top: 20px;
  //padding-top: 20px;
  //border-top: 1px dotted $grey-light;
  a {
    //display: inline-block;
    padding: 1px 15px !important;
    color: $text-color;
    border: 1px solid $text-color !important;
    border-radius: 4px;

    i {
      color: $text-color;
      font-size: 14px;
    }

    &:hover {
      color: $orange;
      //background: #eee;
      border: 1px solid $orange !important;
      i { color: $orange; }
    }
  }
}
