.links-of-blogroll { 
  font-size: 13px;
}

.links-of-blogroll-title {
  //margin-top: 20px;
  font-size: 14px;
  font-weight: $font-weight-bold;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    border-bottom: none;
    padding:5px 7px;
    &:hover {
      //background: #eee;
      border-radius: 4px;
      color: $orange;
    }
  }
}

.links-of-blogroll-item {
  padding: 0px 10px;
  font-weight: bold;
  a {
    max-width: 280px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 7px;
  }
}
