.post-copyright {
  font-size:          0.93rem;
  line-height: 		  1.6em;
  margin: 			  $post-copyright.margin;
  padding: 			  $post-copyright.padding;
  border-left:        3px solid $gainsboro;
  border-left-color:  $note-default-border;
  background:         #f3f3f3;
  list-style:         none;
  border-radius:      unit(hexo-config('note.border_radius'), px) if hexo-config('note.border_radius') is a 'unit';
}
