.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;
  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    border-bottom: none;
    border-radius: 3px;
    padding: 0px 5px;
    margin-right: 0px;
  }
}