html{
	background: linear-gradient(120deg, #FCE4EC,#EDE7F6 35%,#E3F2FD);
	color: #6C7486;
	height: 100%;
}

.omu {
	text-align: center;
	padding-top: 1em;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

h1 {
	font-size: 180px;
	font-weight: bolder;
	letter-spacing: 20px;
	text-transform: uppercase;
	background: url(bg.jpg) 50% 50%;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

a {
	color: #6C7486;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bolder;
	font-size: 30px;
}

a:visited {
	color: #6C7486;
}

a::before {
	content: attr(data-text);
	position: absolute;
	color: #fff;
	overflow: hidden;
	transition: .6s;
	width: 0;
}
.links {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.link-item {
	padding: 3px 20px;
	position: relative;
	display: inline-block;
	margin: 5px;
}

.link-item::before {
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	right: 0;
	top: 0;
	transition: .6s;
	background: #03A9F4;
}

.link-item:hover::before, 
.link-item:hover a::before {
	width: 100%;
}

.links {
	padding-top: 6em;
}

.site-clock {
	display: none;
	font-family: 'Germania One', cursive;
	font-size: 2em;
	color: rgba(108,116,134,.6);
}

/* animate */
.animate-down {
	opacity: 0;
	position: relative;
	top: -50px;
}

.animate-up {
	opacity: 0;
	position: relative;
	bottom: -10px;
}

.animate-right {
	opacity: 0;
	position: relative;
	left: -30px;
}

.animate-left {
	opacity: 0;
	position: relative;
	right: -30px;
}

.animate-left-bottom {
	opacity: 0;
	position: relative;
	right: -20px;
	top: -10px;
}

.site-clock {
	opacity: 0;
}

.clock-h, .clock-m {
	position: relative;
}
